#news-cooking{
    margin-bottom: 600px;
}
.news-content {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
p,.dong3 {
    padding-top: 5%;
}
h1,p {
    color: #ffffff;
}
p {
    font-size: 13px;
    font-weight: 100;
}
.backgr1 {
    top: 0; 
    height: 350px;
    text-align: center;
    background-color: #223d61;
    padding: 5% 5%;
    /* justify-content: space-between; */
    align-items: center;
    padding-bottom: 300px;
}

.input1 {
    border: none;
    border-radius: 20px;
    width: 280px;
    height: 27px;
    background-color: #182e4c;
    padding: 0 20px 0;
    color: #ffffff;
    transition: box-shadow 0.2s;
}

.btn-sub {
    font-size: 16px;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 27px;
    cursor: pointer;
    color: #ffffff;
    background-color: #65a22e;
    transition: border-color 0.5s;

}

.input1:focus {
    box-shadow: 0 0 5px #cccccc;
    outline: none;
}

.input2:hover {
    border-color: azure;
    background-color: #6bb42a;
    transition: .5s;
}

.input2:focus {
    outline: none;
    border-color: #ffffff;
}

::placeholder {
    color: #7ac82e;
}

.clicked {
    border: 2px solid #ccc;
    transition: border-color 0.5s;
}
.title1 {
    color: #182e4c;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 800;
    font-size: 27px;
}
.hr1 {
    border: none;
    border-top: 1px solid green;
    margin-top: 0;
    width: 150px;
}
.separator {
    background: url(image/separator.png);
    margin: 20px auto;
    height: 10px;
    width: 127px;
    margin-top: 2.7rem;
}
.separator3 {
    height: 2px;
    width: 30px;
    margin: 20px auto;
    background: #5e9a28;
}
.progressbar1 {
    margin: 0 0 10px;
    overflow: hidden;
    padding-right: 24px;    
}
.rightcontent {
    padding-top: 3rem;
    padding-left: 47%;
}

.main-carousel {
    width: 62%;
    margin: 0 auto;
}
.headslide {
    font-size: 1.12rem;
    color: #223d61;
}
.secondslide {
    color: #c0bbad;
}
.mainslide {
    color: #797979;
}
.contentslide {
    background: #fff;
    padding: 15px 20px;
    width: 200.75px;
    margin-right: 10px;
    border: 2px solid #5e9a28;
    text-align: center;
    box-sizing: border-box;
}
.backgr2 {
    padding-top: 20px;
}