/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* header and introduction */
.menu {
    width: 100%;
    height: 87px;
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: center;

}

.menu-scroll-down {
    background-color: rgba(255, 89, 0, 0.6);
}

.show-menu {
    right: 0;
}

.search-input {
    border-radius: 50px;
    border: 1px solid yellow;
    width: 300px;
    height: 30px;
    padding-left: 20px;
    position: absolute;
    right: 0;
    display: none;
    top: 100%;
    color: yellow;
    background-color: rgba(0, 0, 255, 0.147);
}

.search-input.open {
    display: flex;
}

#header {
    line-height: 87px;
    top: 0;
    width: 80%;
    align-items: center;
}

#header .imglogo {
    width: 25px;

}

.img-hidden {
    display: none;
}

.menu-btn {
    display: none;
}

#nav-close {
    display: none;
}

#nav {
    display: inline-block;
    list-style: none;
    float: right;
}

#nav li {
    position: relative;
    display: inline-block;
}

#nav li i {
    color: white;
}

#nav li:hover a {
    transition: 0.6s;
    color: yellow;
}

#nav li a {
    text-decoration: none;
    padding: 0 10px 0 10px;
    color: white;
}

#slider {
    padding-top: 50%;
    background: url('../Images/homebg.jpg') top center / cover no-repeat;
    position: relative;
    margin-bottom: 100px;
}

#slider .black-layer {
    background-color: rgba(0, 0, 0, 0.578);
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;

}

swiper-container {
    top: 0;
    width: 80%;
    height: 100%;
    position: relative;
    cursor: pointer;

}

swiper-slide {
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;

}

.content h1 {
    font-size: 60px;
    font-weight: 100;
    line-height: 1.5;
    color: white;
}

.content h3 {
    font-size: 40px;
    font-weight: 100;
    color: #5e9a28;
    margin-top: 30px;
}

.content .learn-btn {
    background-color:#d47400;
    width: 300px;
    height: 50px;
    margin-top: 50px;
    border-radius: 30px;
    border: none;
    color: white;
    padding-top: 8px;
}

.content .learn-btn:hover {
    background-color: #d47500c6;
    cursor: pointer;
}

/* css for introduce  */
#WWD {
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}

#WWD h2 {
    color: #223D61;
    font-size: 40px;
    padding-bottom: 50px;
}

#WWD img {
    margin-bottom: 80px;
}

#WWD .content-WWD {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#WWD .content-WWD .wwd-list {
    width: 25%;

}

#WWD .content-WWD .wwd-list h3 {
    color: #223D61;
    margin-bottom: 40px;
    font-size: 25px;
}

#WWD .content-WWD img {
    width: 100px;
    height: 100px;
}

/* css for favorite food */
.favorite__food{
    margin-bottom: 100px;
}

.ff-title {
    text-align: center;
    margin-bottom: 30px;
}

.img-food{
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
   
}

.food-img {
    width: 100%;
    height: auto;
    border: 3px solid #d47400;
    
}

.div-title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.name-food{
    font-size: 20px;
    font-weight: 600;
}

.hover__ff-layer{
    display: none;
   position: absolute;
   
   background-color: rgba(255, 89, 0, 0.6);
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   justify-content: center;
   align-items: center;
}

.hover__ff-layer i{
   font-size: 150px;
   color: white;
}

.img-food:hover .hover__ff-layer{
    display: flex;
}
.num-like{
    position: absolute;
    color: white;
    height: 30px;
    top: 10px;
    right: 10px;
    background-color:  rgba(255, 89, 0, 0.9);
    padding: 0 5px;
    line-height: 30px;
}

.add {
    
    position: fixed;
    background-color: hsla(0, 0%, 100%, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(96px);
    transition: .2s;
    z-index: 9;
  }
.hidden-menu{
    display: none;
}
#nav-mobile{
    text-align: center;
    margin-top: 100px;
}

.nav-mobile-item{
margin-bottom: 20px;
}

.nav-mobile-item a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.abc{
    position: relative;
}
.exit-nav-menu{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    color: white;
}

